<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>E voitng</title>

    <!-- Bootstrap Core CSS -->
    <link href="/../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Your Teacher ID is Incorrect</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <form method="GET" action="/signin">
                  <div class="col-lg-10">
                      <button type="submit" class="btn btn-primary btn-lg" id="getresult">mainpage</button>
                  </div>
                </form>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <script src="/../vendor/jquery/jquery.min.js"></script>
    <script src="/../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/../vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/../dist/js/sb-admin-2.js"></script>

</body>

</html>
